body {
    margin: 0;
    font-family: Arial;
    background: #0b1b2b;
    color: white;
}

#app {
    padding: 20px;
}

input {
    display: block;
    margin: 6px 0;
    padding: 8px;
    width: 200px;
}

button {
    padding: 6px 10px;
    margin: 4px;
    background: #f5b642;
    border: none;
    cursor: pointer;
}

.card {
    background: #12324a;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}
